* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar, ::-webkit-scrollbar-track {
  scrollbar-width: thin; 
  scrollbar-color: #1d180eb4 #1d180eb4; 

  // background: #f1f1f1; /* Цвет трека скроллбара */
  border-radius: 10px;
}


// body::-webkit-scrollbar, 
// body::-webkit-scrollbar-track,
// body::-webkit-scrollbar-thumb, {
//   width: 12px;
//   background: #f1f1f1; 
//   border-radius: 10px;
// }


 .modal-body::-webkit-scrollbar-thumb {
  background: #df3232; /* Цвет "ползунка" */
  border-radius: 10px; /* Закругленные углы */
}

body::-webkit-scrollbar-thumb:hover, .modal-content::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

a {
  &:hover,
  &:focus {
    color: var(--text-accent);
    transition: color 300ms linear;
    transition: color 300ms linear;
  }
}

p {
  font-weight: 500;
  font-size: 12px;
}

button {
  cursor:pointer;
}