* {
  scroll-behavior: smooth;
  // background-color: red;
}

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;

  background: -webkit-linear-gradient(
    180deg,
    #ffffff,
    #c7c7c7,
    #404040
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    180deg,
    #ffffff,
    #c7c7c7,
    #404040
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  scrollbar-width: thin;
  scrollbar-color: #1d180eb4 #1d180eb4;

  border-radius: 10px;
}

.modal-body::-webkit-scrollbar-thumb {
  background: #df3232;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover,
.modal-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  &:hover,
  &:focus {
    color: var(--text-accent);
    transition: color 300ms linear;
    transition: color 300ms linear;
  }
}

p {
  font-weight: 500;
  font-size: 12px;

  @media (min-width: 1024px) {
    font-size: 20px;
  }
}

button {
  font-weight: 600;
  border-radius: 5px;
  width: 100px;
  background-color: var(--accent);
  color: var(--btn-color);
  border: 0px;
  padding: 10px 15px;
  cursor: pointer;

  &:hover {
    background-color: var(--accent-focus);
    color: var(--text-accent);
    transition: background-color 300ms linear;
    transition: color 300ms linear;
  }

  &.disabled {
    background-color: rgb(247 178 99);
    color: #292929;
  }

  &.disabled :hover,
  &.disabled :focus {
    background-color: rgb(247 178 99);
    color: #292929;
  }
}
