<div class="header container--bg">
  <div class="container ">
    <div class="nav">

      <div class="menu">
        <ul class="menu-list">
          <li class="menu-list__item">
            <a href="#" class="menu-list__item--link home accent">home</a>
          </li>
          <li class="menu-list__item ">
            <a href="#" class="menu-list__item--link library">my library</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="search">
      <form class="search-form">
        <input class="search-input" type="text" placeholder="movie search" />
        <button class="search-button" type="submit">search</button>
      </form>
      <p class="warning"></p>
    </div>
  </div>
</div>
