<div class="header">
  <div class="container container--bg">
    <div class="nav">
		<a href="" class="logo">
			<img src="./img/icons/logo.svg" alt="Logo">
		</a>

      <div class="menu">
        <ul class="menu-list">
          <li class="menu-list__item">
            <a href="" class="menu-list__item--link">home</a>
          </li>
          <li class="menu-list__item">
            <a href="" class="menu-list__item--link">my library</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="search">
      <form class="search-form">
        <input class="search-input" type="text" placeholder="movie search" />
      </form>
      
	  <img class="search-input--svg" src="./img/icons/search.svg" alt="">
    <p class="warning"></p>
    </div>
  </div>
</div>
