.container {
  max-width: 320px;
  box-sizing: border-box;

  margin: 0 auto;
  // padding: 40px 20px;

  // @media (min-width:321px) and (max-width:767px) {
  //   max-width: 320px;
  // }

  @media (min-width:768px) {
    max-width: 704px;
    // padding: 0;
  }
  
  @media (min-width:1024px) {
    max-width: 1250px;
    // padding: 0;
  }

  &--bg {
    background-image: url(/src/img/320/background-with-red-lines-320-1x.jpeg);

    background-repeat: no-repeat;
    background-size: cover;
  }

  &--section {
	padding: 20px;
  }
}
