
.nav {
	display: flex;
	margin-bottom: 60px;
}

.logo {
  display: flex;
  align-items: center;


  &__svg {
    width: 24px;
    height: 24px;
  }
}

.menu {
  display: flex;
  align-items: center;
  margin-left: auto;

}

.menu-list {
  display: flex;

  &__item:nth-child(n + 2) {
    margin-left: 40px;
  }

  &__item--link {
	position: relative;
	text-transform: uppercase;
	color:var(--header);

	&.accent {color:var(--accent)}
  }

  &__item--link.accent::after {
	content: '';
	display: block;
	position: absolute;
	
	top: 20px;
	width: 100%;
	height: 2px;
	border-radius: 5px;
	background-color: var(--accent);
  }

  &__item--link:hover, &__item--link:focus {
	color:var(--accent);
  }
}

.search {
	box-sizing: border-box;
	width: 100%;
	

	&-form {
		display: flex;
		padding-bottom: 5px;
	}

	&-input {
		width: 230px;
		margin-right: 5px;
		padding: 5px;
		background-color: transparent;
		border: 0px;
		border: 1px solid  rgba(128, 128, 128, 0.536);
		position: relative;

		color: rgb(160, 158, 158);

		&:hover, &:focus {
			outline: none;
		border-color:grey;
		}

		&::placeholder {
			// color: gray;
			color:  rgba(128, 128, 128, 0.536);
  font-style: italic;
  font-size: 14px;
		}
		&:focus::placeholder, &:hover::placeholder {
			color:  grey;
		}
	}

	&-input--svg {
		fill: red;
		position: relative;
		width: 10px;
		height: 10px;
		top: -14px;
		left: 270px;
	}

	&-button {
		width: 70px;
		text-transform: capitalize;
		background-color:  rgba(128, 128, 128, 0.536);
		border: 0px;
		cursor: pointer;
		color: rgb(182, 180, 180);
		outline: none;

		&:hover {
			background-color:  grey;
			color: rgb(239, 239, 239);
		}
	}
}

.warning {
	color: red;
	
}
