.header {
  padding: 40px 20px;
}

.nav {
  display: flex;
  margin-bottom: 60px;
}

.logo {
  display: flex;
  align-items: center;

  &__svg {
    width: 24px;
    height: 24px;
  }
}

.menu {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.menu-list {
  display: flex;

  &__item:nth-child(n + 2) {
    margin-left: 40px;
  }

  &__item--link {
    position: relative;
    text-transform: uppercase;
    color: var(--header);

    &.accent {
      color: var(--header);
    }
  }

  &__item--link.accent::after {
    content: '';
    display: block;
    position: absolute;

    top: 20px;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: var(--accent);
  }

  &__item--link:hover {
    color: var(--accent);
  }
}

.search {
  box-sizing: border-box;
  width: 100%;

  &-form {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
  }

  &-input {
    width: 230px;
    margin-right: 5px;
    padding: 5px;
    background-color: transparent;
    border: 0px;
    border: 1px solid var(--second);
    position: relative;

    color: rgb(160, 158, 158);

    @media (min-width:767px) {
      width: 280px;
    }

    &:hover,
    &:focus {
      outline: none;
      border-color: grey;
    }

    &::placeholder {
      color: var(--second);
      font-style: italic;
      font-size: 14px;
    }
    &:focus::placeholder,
    &:hover::placeholder {
      color: grey;
    }
  }

  &-button {
    width: 70px;
    text-transform: capitalize;
    background-color: var(--second);
    border: 0px;
    cursor: pointer;
    color: rgb(182, 180, 180);
    outline: none;

    &:hover {
      background-color: grey;
      color: var(--header);
    }
  }
}

.warning {
  padding: 25px;
  display: flex;
  justify-content: center;
  color: var(--header);
}
